table{
	font-style: italic;
	font-size: 20px;
}
body{
	background-color: green;
	background: rgba(4, 29, 23, 0.5);
	background: url(agung.jpg);
	background-size: cover;
    margin: 0;
    padding: 0;
    
}